html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}


/* Mobile styles */

.cookies {
  position: absolute;
  left: 0;
  bottom: 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  padding: 30px 20px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 12px;
  line-height: 17px;
  font-style: normal;
  font-weight: normal;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0px -16px 36px rgba(0, 0, 0, 0.2), 
              0px -4px 10px rgba(0, 0, 0, 0.16);

  z-index: 100;
}

.cookies__text {
  margin: 0;
  margin-bottom: 20px;
}

.cookies__link {
  text-decoration: underline;
  color: #00883c;
}

.cookies__link:hover,
.cookies__link:focus {
  color: #00b707;
}

.cookies__link:active {
  color: #ffa800;
}

.cookies__button {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 280px;
  padding: 8px 24px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  
  border-radius: 32px;

  cursor: pointer;
}

.cookies__button_accept {
  margin-bottom: 20px;

  color: #000000;

  background-color: #ffa800;
  border: 1px solid #ffa800;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.cookies__button_accept:hover,
.cookies__button_accept:focus {
  background-color: #ffbc20;
}

.cookies__button_accept:active {
  background-color: #f09800;
}

.cookies__button_refuse {
  color: #ffa800;

  background-color: #ffffff;
  border: 1px solid #ffa800;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
}

.cookies__button_refuse:hover,
.cookies__button_refuse:focus {
  color: #000000;
}

.cookies__button_refuse:active {
  background-color: #f09800;
}


/* Tablet styles */

@media screen and (min-width: 768px) {

  .cookies {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 40px 30px;
  }

  .cookies__text {
    width: 100%;

    font-size: 14px;
    line-height: 20px;
  }

  .cookies__button_accept {
    margin-right: 30px;
    margin-bottom: 0;
  }

}


/* Desktop styles */

@media screen and (min-width: 1280px) {

  .cookies {
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    -o-flex-wrap: nowrap;
    flex-wrap: nowrap;
    align-items: center;
    padding: 30px 70px;
  }

  .cookies__text {
    width: auto;
    margin-right: 50px;
    margin-bottom: 0;
  }

  .cookies__button {
    height: auto;
  }

  .cookies__button_accept {
    margin-left: auto;
  }

}
