html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body {
  /*min-width: 320px;*/
  margin: 0;
  padding: 0;
}

button {
  -webkit-appearance: button;

  padding: 0;
  
  background-color: transparent;
  background-image: none;
  border: none;

  cursor: pointer;
}

.cookies {
  position: absolute;
  left: 0;
  bottom: 0;

  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -o-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  min-height: 96px;
  padding: 28px 98px;
  padding-right: 154px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-style: normal;
  font-weight: normal;
  color: #333333;

  background-color: #ffffff;
  box-shadow: 0px -16px 36px rgba(0, 0, 0, 0.2), 
              0px -4px 10px rgba(0, 0, 0, 0.16);

  z-index: 100;
}

.cookies__text {
  max-width: 935px;
  margin: 0;
  margin-right: 60px;
}

.cookies__link {
  text-decoration: underline;
  color: #11873f;
}

.cookies__button {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: auto;
  min-height: 40px;
  padding: 10px 44px;

  font-family: 'Open Sans', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  
  border-radius: 32px;
}

.cookies__button_accept {
  margin-left: auto;
  margin-right: 36px;

  color: #000000;

  background-color: #ffa800;
  border: 1px solid #ffa800;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.16);
}

.cookies__button_refuse {
  color: #ffa800;

  background-color: #ffffff;
  border: 1px solid #ffa800;
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.16);
}